# Python
__pycache__/
*.pyc
.env
venv/
*.egg-info/

# Node
node_modules/
build/
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Config
config.ini.local
kaktusing.com_cert/kaktusing.com.crt
kaktusing.com_cert/kaktusing.com.p7b
kaktusing.com_cert/kaktusing.com_key.txt
/kaktusing.com_cert
